
[Unit]
Description=Homeassistant Gateway
After=network.target
OnFailure=m2ag-homeassistant

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
# If you delete this line, it will run as root
User=--USER--
# Edit this line, if needed, to specify where you installed the server
WorkingDirectory=--HOME--/homeassistant
ExecStart=--HOME--/homeassistant/bin/hass
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
