
[Unit]
Description=m2ag.labs thing builder
After=network.target

[Service]
User=--USER--
WorkingDirectory=--HOME--/m2ag-labs
ExecStart=python3 builder.py
Restart=always

[Install]
WantedBy=multi-user.target
