
[Unit]
Description=m2ag.labs client application
After=network.target

[Service]
User=--USER--
WorkingDirectory=--HOME--/m2ag-labs
ExecStart=--HOME--/m2ag-labs/venv/python server.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=m2ag-client

[Install]
WantedBy=multi-user.target
